# ==============================================================================
# This is the docker ignore file.
# ==============================================================================
*
