# ==============================================================================
# This is the gitignore for the C++ implementation of Hangman.
# ==============================================================================
build
*.log